.feed-body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.feed-body .header-feed {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-feed .feed-section-logo {
    width: 70%;
    height: 100%;
}

.feed-body .header-feed .logo-feed {
    width: 15rem;
    height: 3rem;
    position: relative;
    top: 35%;
    left: calc((100% - 15rem)/4);
}

.header-feed .feed-section-hello {
    width: 30%;
    height: 100%;
    display: flex;
}

.feed-section-hello .hello-feed, .userName-feed {
    position: relative;
    font-size: 1.4rem;
    font-weight: bold;
    top: 45%;
}

.feed-section-hello p:nth-child(2) {
    color: var(--complement-color);
    padding-left: 0.5rem;
}

.section-myPost {
    width: 100%;
    height: 18rem;
}

.section-myPost .myPost-container {
    max-width: 35rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.myPost-container .myPostTextArea {
    width: 30rem;
    height: 10.1rem;
    margin: 0 auto;
    border-radius: 1rem;
    border: .1rem solid var(--black);
    text-indent: 1rem;
    font-size:1.6rem;
}

.myPost-container .publish-button {
    width: 8rem;
    height: 3rem;
    font-size: 1.4rem;
    background-color: var(--emphasis-color);
    color: var(--black);
    border-radius: 1.5rem;
    font-weight: bold;
    border: none;
    position: relative;
    left: 23rem;
    top: 1.5rem;
}

.myPost-container .publish-button:hover {
    background-color: var(--complement-color);
    color: var(--base-color);
    cursor: pointer;
}

.section-postsPublished {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

.publishPost-container {
    width: 35rem;
    height: auto;
    margin: 0 auto;
}

.publishPost-container .options-container {
    width: 80%;
    height: 2rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
}

.options-container .post-username {
    font-weight: bold;
    color: var(--complement-color);
}

.publishPost-container .options-container .menu-icon {
    width: 2rem;
}

.menu-icon .options-menu {
    display: none;
    width: 3rem;
}

.menu-icon:hover .options-menu {
    display: block;
}

.options-menu .option {
    width: 6rem;
    position: relative;
    right: 2rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    list-style: none;
    text-align: center;
    font-family: var(--main-font);
    font-size: 1.4rem;
    font-weight: normal;
    background-color: var(--emphasis-color);
}

.options-menu .option:nth-child(2){
    margin-top: 0.5rem;
}

.option:hover {
    border: 0.1rem solid var(--black);
    background-color: var(--complement-color);
    color: var(--base-color);
    cursor: pointer;
}

.publishPost-container .post-content {
    width: 30rem;
    height: 6rem;
    border: 0.1rem solid var(--black);
    border-radius:1rem;
    margin: 0 auto;
}

.post-content .text-content {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.4rem;

}

.publishPost-container .data-container {
    width: 30rem;
    height: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: -1rem;
    margin: 0 auto;
    border-radius: 0 0 1rem 1rem;
    background-color: var(--black);
}

.data-container .post-date {
    padding-left: 1rem;
}
.data-container p {
    font-size: 1.2rem;
    color: var(--base-color);
}

.data-container .likes-container {
    display: flex;
    padding-right: 1rem;
}

.data-container span {
    padding-left: 0.5rem;
    color: var(--emphasis-color);
}

.feed-footer {
    width: 100%;
    height: 5rem;;
    background-color: var(--complement-color);
    position: absolute;
    bottom: 0;
}

.feed-footer .logout-button {
    position: relative;
    top: 1rem;

}

.logout-button .icon-logout {
    position: absolute;
    right: 2rem;
    font-size: 3rem;
    color: var(--base-color);
}

